%div.container
  %div.row
    %div.col-md-10.column
      %div.panel.panel-primary
        %div.panel-heading
          %h3.panel-title
            Your score
        %div.panel-body
          =@score