%div.question
  %div.input-group
    = f.text_area :content, class: "form-control"
    %span.input-group-addon Q
  %br
  %div.input-group
    = f.text_field :answer, class: "form-control"
    %span.input-group-addon A
